/*   ~~~ Base ~~~   */
html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    height: 100%;
    padding: 10px 20px 20px 20px;
}

* {
    box-sizing: border-box;
}

 .btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
} 


/*   ~~~ Header/Main/Footer ~~~   */
.header .headerlogo{
    padding: 60px;
    text-align: center;
    background: rgb(240, 171, 0);
    color: white;
}
.header .headerbar {
    display: flex;
    justify-content: left;
    background-color: #333;
}
.main {
    background-color: #f1f1f1;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}


/*   ~~~ Side-Navigation ~~~   */
.sidenav {
    height: 100%;
    width: 0; /* change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #333;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #333;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: rgb(240, 171, 0);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #333;
    color: rgb(255, 255, 255);
}


/*   ~~~ Tabs ~~~   */
.tabs .tablink {
background-color: #555;
color: white;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-size: 17px;
width: 20%;
}
.tabs .tablink:hover {
background-color: #777;
}
.tabs .tabcontent {
color: black;
display: none;
padding: 100px 20px;
height: 100%;
}

#Vorspeise {background-color: lightcoral;}
#Hauptspeise {background-color: lightgreen;}
#Dessert {background-color: lightblue;}
#Getränke {background-color: lightyellow;}
#Warenkorb {background-color: lightslategray;}