body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    padding: 10px 20px 20px 20px;
}

* {
    box-sizing: border-box;
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: rgb(240, 171, 0);
    color: white;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    justify-content: left;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    background-color: #333;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #333; /* Gray*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #333;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgb(240, 171, 0);
}

 /* Style buttons */
 .btn {
    background-color: #333; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #000;
} 

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #333;
    color: rgb(255, 255, 255);
}

/* Main column */
.main {
    background-color: #f1f1f1;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}


samp {
    font-size: 1.3em;
}

a {
    color: #000000;
    background-color: #FFFFFF;
}

sup a {
    text-decoration: none;
}

hr {
    margin-left: 90px;
    height: 1px;
    color: #000000;
    background-color: #000000;
    border: none;
}

#logo {
    margin-bottom: 10px;
    margin-left: 28px;
}

.text {
    width: 80%;
    margin-left: 90px;
    line-height: 140%;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Vorspeise {background-color: lightcoral;}
  #Hauptspeise {background-color: lightgreen;}
  #Dessert {background-color: lightblue;}
  #Getränke {background-color: lightyellow;}
  #Warenkorb {background-color: lightslategray;}